# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Drizzle
.drizzle/

# Data
/data/

# Drizzle
/src/db/migrations/

# Env
.env
.env.*.local
.env.local


# IDE
.idea/
.vscode/
